<title>LeagueTracker</title>
<%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
            <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'>
            <link href='http://fonts.googleapis.com/css?family=Rambla:400,700' rel='stylesheet' type='text/css'>
            <link href='http://fonts.googleapis.com/css?family=Calligraffitti' rel='stylesheet' type='text/css'>
            <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,700' rel='stylesheet' type='text/css'>


            <!-- Optional: ICON SETS -->
            <!-- Iconset: Font Awesome 5.0.4 via CDN -->
            <link href="https://use.fontawesome.com/releases/v5.0.4/css/all.css" rel="stylesheet">
            <!-- Iconset: flag icons - http://lipis.github.io/flag-icon-css/ -->
            <link href="assets/plugins/flag-icon-css/css/flag-icon.min.css" rel="stylesheet">
            <!-- Iconset: ionicons - http://ionicons.com/ -->
            <link href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet">
            <!-- Iconset: Linearicons - https://linearicons.com/free -->
            <link href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css" rel="stylesheet">