<div class="container d-flex align-items-center justify-content-lg-center ">
    <% flash.each do |key, value| %>
        <%= content_tag :h1, value, class: "my-0 text-sm flash #{key}" %>
            <% end %>

</div>